@import "https://fonts.googleapis.com/css?family=Bungee";
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

body {
  background: #201f5b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
}

h1 {
  font-weight: bolder;
  font-family: "Bungee", sans-serif;
}

.container {
  border: 10px solid white;
  border-radius: 20px;
  min-height: 80vh;
  text-align: center;
  background-color: rgba(247, 243, 242, 0.7);
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Jua", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form-control {
  text-align: center;
  width: 30%;
  font-size: 1.2rem;
}

.button-style {
  height: 40px;
  width: 70px;
  border-radius: 50px;
  font-size: 12pt;
  font-weight: bold;
}

.input-box {
  display: flex;
  justify-content: center;
}

.select-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.select-control {
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  appearance: none;
  height: 44px;
  font-weight: bold;
  background: #9b98a7;
}

@media (max-width: 992px) {
  .form-control {
    text-align: center;
    width: 90%;
    font-size: 1.2rem;
  }
  /* .container {
    height: 120vh;
  }
}

@media (max-width: 430px) {
  .container {
    min-height: 95vh;
  }
}

@media (max-width: 375px) {
  .container {
    min-height: 120vh;
  }
}
@media (max-width: 360px) {
  .container {
    min-height: 120vh;
  }
} */
}
